body {
	background-size: cover;
	padding: 0;
}
* { box-sizing: border-box; }

h2,h3,h4,h3 img {
	width: 100%;
	clear: both;
	display: block;
	float: none;
	position: static !important;
}

.row { margin: 0; }
.row.forecast {
	background: #ffffff;
	margin: 10px;
	color: #000000;
}

.forecast h2 { margin: 0; }

.forecast h3,
img.forecast-img,
.forecast h4 {
	width: auto;
	float: left;
	clear: right;
	border: none;
}
.forecast h4 {
	float: none;
	margin-top: 0;
}

.city-name { color: gold; }

@media screen and (max-width: 480px) {
	.city-name { display: block; }
}

.panel.hourly-info { display: none; }
.weather-is-showing .panel.hourly-info {
	display: block;
}