body {
	background-size: cover;
	padding: 0;
}
* { box-sizing: border-box; }

h2,h3,h4,h3 img {
	width: 100%;
	clear: both;
	display: block;
	float: none;
	position: static !important;
}

.row { margin: 0; }
.row.forecast {
	background: #ffffff;
	margin: 10px;
	color: #000000;
}

.forecast h2 { margin: 0; }

.forecast h3,
img.forecast-img,
.forecast h4 {
	width: auto;
	float: left;
	clear: right;
	border: none;
}
.forecast h4 {
	float: none;
	margin-top: 0;
}

.hourly-forecast .forecast-img {
	display: inline-block;
	float: none;
	margin: 0 auto;
}

.city-name { color: gold; }

@media screen and (max-width: 480px) {
	.city-name { display: block; }
}

.hourly-info {
	display: none;
	margin-bottom: 0;
}
.weather-is-showing .hourly-info {
	display: block;
}

.row.hourly-forecast {
	width: 20%;
	margin: 0;
	padding: 5px;
	float: left;
	text-align: center;
}
.hourly-forecast * { float: none; position: relative; }